@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Bienvenidos</h1>
    </div>

    <div>
        <img src="../assets/fondo.jpg" class="img-fluid img-home" />
    </div>
</div>

