@model ProyectoGym.Models.ActividadesUsuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActividadesUsuario</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete" asp-route-userId="@ViewBag.userId">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-route-id="@ViewBag.userId" asp-action="Index">Volver</a>
    </form>
</div>
